.scroll-pane .viewport{
    -fx-background-color:transparent;
}
.scroll-pane {
    -fx-background-color: rgba(0,100,100,0.5);
    -fx-border-width: 3;
    -fx-border-radius: 4;
}
.scroll-bar{
    -fx-background-color: rgba(0,100,100,0.5);
}
.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 4;
}
.button{

    -fx-border-radius: 5;
}
/*.label{*/
/*    -fx-background-color: transparent;*/
/*}*/
